// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1840px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light: #ffffff;
  --bg-main: #ebf0fa;
  --bg-modal: #f0f4fc;
  --bg-input: #d7e2f6;
  --bg-btn: #244c98;
  --text-blue: #1f4284;
  --text-main: #323232;
  --text-gray: #727272;
  --hover-btn: #223f77;
}
@media all and (max-width: 768px) {
  :root {
    --container-offset: 24px;
  }
}
